@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  line-height: 1.2;
  background-image: url(https://t4.ftcdn.net/jpg/02/83/13/61/360_F_283136113_b3VRHNiOPFMOluzYJPpfuoH8Czh9c743.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.slider_img img {
  height: 450px;
}

.slider_img {
  z-index: 5;
}

